

  <!-- main wrapper -->
  <div class="wrapper">



    <section class="breadcrumbs" style="background-image: url(assets/images/breadcrumbs/reserv.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="h1">Reservation</h1>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="#">Accueil</a><i class="fa fa-angle-right"></i></li>
              <li class="active">Reservation</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <div class="wizzard reservation-1">
        <div class="container-fluid reservation_last_step_container">
          <div class="container">
            <div class="row reservation-top">
              <div class="module __reservation">
                <div class="module-block">
                  <form [formGroup]="checkForm" class="form-planner form-horizontal">
                    <div class="row">
                      <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                            <label>Arriver</label>
                            <input formControlName="arriver" class="form-control" id="arriver" type="date"/>

                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12">
                        <div class="form-group">
                          <label>Quitter</label>
                          <input formControlName="quitter" class="form-control" id="quitter" type="date"/>
                        </div>
                      </div>
                      <div class="col-md-2 col-xs-6">
                        <div class="form-group">
                          <label>Adults</label>
                          <div class="theme-select">
                            <select formControlName="adult" class="form-control __plannerSelect">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-xs-6">
                        <div class="form-group">

                            <label>Enfants</label>
                            <div class="theme-select">
                              <select formControlName="enfants" name="enfants" class="form-control __plannerSelect">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                              </select>
                            </div>

                        </div>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <a href="" class="btn btn-default wizzard-search-btn">Chercher</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="container reservation-1">
        <div class="row">
          <div class="col-md-12">
            <div class="wizzard-list">
              <h3 class="h3">Chambres disponibles à la date spécifiée</h3>
              <ul class="row best-room_ul">
                <li (click)="navigate(chambre.id)" *ngFor="let chambre of chambres | paginate: { itemsPerPage: 9, currentPage: page }" class="col-md-4 col-sm-6 col-xs-12 best-room_li" >
                  <div class="best-room_img">
                    <a ><img src="assets/images/best-rooms/1.jpg" alt=""/></a>
                    <div class="best-room_overlay">
                      <div  class="overlay_btn" ><a class="btn btn-default" >Selecter</a></div>
                    </div>
                  </div>
                  <div class="best-room-info">
                    <div class="best-room_t"><a>{{ chambre.categorie_chambre.libelle }}</a></div>
                    <div class="best-room_desc"> {{ chambre.description }} </div>
                    <div class="best-room_price">
                      <span> {{ chambre.prix }} </span> / nuit

                    </div>
                  </div>
                </li>
              </ul>
              <nav class="text-center">
                <!-- <ul class="pagination"> -->
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
                <!-- </ul> -->
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /reservation wizzard steps-->
  <!-- footer -->

  <app-footer></app-footer>
  <!-- /footer -->
  <!-- Scripts -->

  <!-- /Scripts -->

