<!-- parallax -->
<app-home-reservation></app-home-reservation>
<!-- /parallax -->

<!-- chose best rooms -->
<app-home-best-room></app-home-best-room>
<!-- /choose best rooms -->

<!-- lux banner parallax -->
<!-- <app-home-luxury-room></app-home-luxury-room> -->
<!-- /lux banner parallax -->


<!-- enjoy our services -->
<app-home-our-serveces></app-home-our-serveces>
<!-- /enjoy our services -->

<!-- testiomonials -->
<app-home-says-about-us></app-home-says-about-us>
<!-- /testiomonials -->

<!-- map -->
<section class="map">
  <div id="map"></div>
</section>
<!-- /map -->
