<section class="banner bg-parallax2">
    <div class="overlay"></div>
  <div class="banner-parallax">
    <div class="container">
      <div class="text-center">
        <div class="banner-parallax_raiting">
          <a href="#"><span class="star __selected"></span></a>
          <a href="#"><span class="star __selected"></span></a>
          <a href="#"><span class="star __selected"></span></a>
          <a href="#"><span class="star"></span></a>
          <a href="#"><span class="star"></span></a>
        </div>
        <h2 class="banner-parallax_t">Double Luxury Room</h2>
        <div class="banner-parallax_price"><span>$560</span> / Night (Only This Week)</div>
        <a href="#" class="btn btn-default">Book this room</a>
      </div>
    </div>
  </div>
</section>