<section class="best-room">
    <div class="container">
      <div class="title-main">
        <h2 class="h2">Best Offer For Weekend<span class="title-secondary">Look Our Featured Rooms</span></h2>
      </div>
      <div class="best-room-carousel">
        <ul class="row best-room_ul">
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/1.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$99</span> / two days
              </div>
            </div>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/2.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$129</span> / two days
              </div>
            </div>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/3.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$349</span> / two days
              </div>
            </div>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/4.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$49</span> / two days
              </div>
            </div>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/5.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$199</span> / two days
              </div>
            </div>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
            <div class="best-room_img">
              <a href="#"><img src="assets/images/best-rooms/6.jpg" alt=""/></a>
              <div class="best-room_overlay">
                <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
              </div>
            </div>
            <div class="best-room-info">
              <div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
              <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
              </div>
              <div class="best-room_price">
                <span>$209</span> / two days
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
