<section class="bg-parallax parallax-window">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="parallax-text">
            <h2 class="parallax_t __white">NEW GRAND HOTEL 5 Etoile</h2>
            <h2 class="parallax_t __green">available from 10.12.2016</h2>
            <p>Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting going about eat forty world.</p>
          </div>
        </div>
        <!-- planner-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
          <div class="planner-block">
            <form [formGroup]="checkForm" (ngSubmit)="onSubmit()" class="form-planner form-horizontal">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">

                    <label>Arriver</label>
                    <input formControlName="arriver" class="form-control" id="arriver" type="date"/>
                    <div *ngIf="checkForm.get('arriver').getError('required')&& checkForm.get('arriver').touched" class="d-inline  bg-transparent text-danger">Champ nécessaire</div>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label>Quitter</label>
                    <input formControlName="quitter" class="form-control" id="quitter" type="date"/>
                    <div *ngIf="checkForm.get('quitter').getError('required')&& checkForm.get('arriver').touched" class="d-inline  bg-transparent text-danger">Champ nécessaire</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label>Type chambre</label>
                      <div class="theme-select">
                        <select class="form-control __plannerSelect">
                          <option value="">type 1</option>
                          <option value="">type 2</option>
                        </select>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="form-group">
                      <label>Adults</label>
                      <div class="theme-select">
                        <select formControlName="adult" class="form-control __plannerSelect">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="form-group">
                      <label>Enfants</label>
                      <div class="theme-select">
                        <select formControlName="enfants" name="enfants" class="form-control __plannerSelect">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>

                    </div>
                  </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                      <label>Entrer Votre email</label>
                      <input formControlName="email" type="email" class="form-control" placeholder="E-mail"/>
                      <div *ngIf="checkForm.get('email').getError('email')" class="d-inline  bg-transparent text-danger">Email invalide</div>
                      <div *ngIf="checkForm.get('email').getError('required')&& checkForm.get('email').touched" class=" d-inline  bg-transparent text-danger"> email nécessaire</div>
                      <div class="form-group">
                    </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                      <label>Prix</label>
                      <div id="slider-range"></div>
                      <div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="planner-check-availability">
                    <button  type="submit" [disabled]="checkForm.invalid" href="wizzard-step1.html" class="btn btn-default">Check availability</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /planner-->
      </div>
    </div>
</section>
